.login {
    text-align: center;
    width: 300px;
    height: auto;
    padding: 10px;
    background: rgba(44, 44, 44, 0.8);

    position: fixed;
    overflow: hidden;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 15px;

    font-size: 16px;
    line-height: 40px;
    color: white;
}

.login input {
    height: 30px;
    color: black;
    font-size: inherit;
    width: 250px;
    display: block;
    margin: 0 auto;
}

.login p {
    margin-bottom: -20px;
}

.login .button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#fail_message {
    line-height: normal;
    margin-bottom: 10px;
}

