<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Hotel Booking</display-name>

  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/WEB-INF/views/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>book</servlet-name>
    <jsp-file>/WEB-INF/views/book.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>rooms</servlet-name>
    <jsp-file>/WEB-INF/views/rooms.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>reservations</servlet-name>
    <jsp-file>/WEB-INF/views/reservations.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/WEB-INF/views/register.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rooms</servlet-name>
    <url-pattern>/rooms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reservations</servlet-name>
    <url-pattern>/reservations</url-pattern>
  </servlet-mapping>

<!--  <error-page>-->
<!--    <exception-type>java.lang.Throwable</exception-type>-->
<!--    <location>/WEB-INF/views/error.jsp</location>-->
<!--  </error-page>-->
<!--  <error-page>-->
<!--    <error-code>404</error-code>-->
<!--    <location>/WEB-INF/views/error404.jsp</location>-->
<!--  </error-page>-->

</web-app>
